node_modules/
ios/Pods/
.DS_Store
*.jks
*.p12
key.store
key.properties
*.orig
*.iml
*.hprof
local.properties
build/
android/app/build/
android/.gradle/
android/build/
*.log
npm-debug.*
yarn-error.*
.env
.env.local
dist/
